# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
lsat

#ctags
tags

#cscope
cscope.*

#data
Data/*
data/*
out

#soap2-dp
soap2-dp/*

#bwa
bwa/*

#gem
gem/*

#output
output/*
out*

#temp source files
LSAT/*

#eclipse project
*project

#err log
error.log

#shell
lsat.sh
run.sh
