# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
lsat

#ctags
#tags

#cscope
cscope.*

#data
data/*

#soap2-dp
soap2-dp/*

#output
output/*
